# Multimedia
*.mov
*.mkv
*.mp4
*.avi
*.wmv
*.flv
*.webm
*.m4v
*.mpg
*.mpeg
*.heic
*.jpg
*.jpeg
*.png
*.gif
*.tiff
*.tif
*.bmp
*.webp
*.wav
*.mp3
*.aac
*.flac
*.ogg
*.m4a

# Logs and data exports
*.log
*.csv
*metadata*.json

# Virtual environment
/.venv/

# Project folders to ignore
/ai_clips/
/assets/
/music/
/unused/
/unused2/
/models/*
/samples/*
/keyframes/*
/transcripts/*
/redactions/*
/tools/*
/debug/*
/tracking/*
/tracking_results/*
/archived/*
/qwen_input/*
/logs/*
/freeze/*

sample_videos.txt
yt-dlp.conf
video_analysis.json
ui_manifest.json
tracked_manifest.json
redaction_manifest.json

# Keep folder structure placeholders
!/ai_clips/.gitkeep
!/assets/.gitkeep
!/assets/**/.gitkeep

# Temporary/output folders
/tmp_advanced3_frames/
.env
# Ignore everything by default, then allow only Python files
*
!*/
!*.py
!.gitignore
!*.md
!*.sh
!.gitkeep
!*.json
!*.txt
!*.fcpxml

# OAuth credentials - keep private
client_secrets.json
youtube_credentials.json
sample_videos.txt
transcripts/Man_Attacks_Blind_Woman_as_His_44th_Crime.txt
transcripts/Man_Attacks_Blind_Woman_as_His_44th_Crime.json
transcripts/Lululemon_Shoplifter_Gets_Caught_in_The_Act.txt
transcripts/Lululemon_Shoplifter_Gets_Caught_in_The_Act.json
transcripts/Karen_Fights_Real_Estate_Agent_Over_House.txt
transcripts/Karen_Fights_Real_Estate_Agent_Over_House.json
yolo_detections.json
models/hub/models--openai--clip-vit-base-patch32/.no_exist/3d74acf9a28c67741b2f4f2ea7635f0aaf6f0268/added_tokens.json
models/hub/models--openai--clip-vit-base-patch32/.no_exist/3d74acf9a28c67741b2f4f2ea7635f0aaf6f0268/audio_tokenizer_config.json
models/hub/models--openai--clip-vit-base-patch32/.no_exist/3d74acf9a28c67741b2f4f2ea7635f0aaf6f0268/chat_template.json
models/hub/models--openai--clip-vit-base-patch32/.no_exist/3d74acf9a28c67741b2f4f2ea7635f0aaf6f0268/model.safetensors.index.json
models/hub/models--openai--clip-vit-base-patch32/.no_exist/3d74acf9a28c67741b2f4f2ea7635f0aaf6f0268/processor_config.json
models/hub/models--openai--clip-vit-base-patch32/snapshots/3d74acf9a28c67741b2f4f2ea7635f0aaf6f0268/config.json
models/hub/models--openai--clip-vit-base-patch32/snapshots/3d74acf9a28c67741b2f4f2ea7635f0aaf6f0268/merges.txt
models/hub/models--openai--clip-vit-base-patch32/snapshots/3d74acf9a28c67741b2f4f2ea7635f0aaf6f0268/preprocessor_config.json
models/hub/models--openai--clip-vit-base-patch32/snapshots/3d74acf9a28c67741b2f4f2ea7635f0aaf6f0268/special_tokens_map.json
models/hub/models--openai--clip-vit-base-patch32/snapshots/3d74acf9a28c67741b2f4f2ea7635f0aaf6f0268/tokenizer_config.json
models/hub/models--openai--clip-vit-base-patch32/snapshots/3d74acf9a28c67741b2f4f2ea7635f0aaf6f0268/tokenizer.json
models/hub/models--openai--clip-vit-base-patch32/snapshots/3d74acf9a28c67741b2f4f2ea7635f0aaf6f0268/vocab.json
