# Core ML/vision
numpy # --> removed as opencv cuda relies on numpy 1.X
#numpy>=1.21.2,<2.0.0
# opencv-python use opencv-cuda by building it
pillow
scikit-learn

torch
torchvision
torchaudio

transformers
accelerate
clip-anytorch
#llama-cpp-python <-- should be installed as part of setup.sh to pass custom parameters for CUDA

# YouTube upload
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
httplib2

# Youtube download for sample files
yt-dlp

# New ones added
#scenedetect[opencv]
ollama 
tqdm
huggingface_hub
# ultralytics  <-- DO NOT install via -r if using custom OpenCV-CUDA
matplotlib
scipy
pyyaml
pandas
requests
screeninfo
psutil