# --- INDEX CONFIGURATION ---
--index-url https://download.pytorch.org/whl/cu126
--extra-index-url https://pypi.org/simple

# Core ML/vision
numpy # --> removed as opencv cuda relies on numpy 1.X
#numpy>=1.21.2,<2.0.0
# opencv-python use opencv-cuda by building it
pillow
scikit-learn

# --- CORE BINARIES (MUST MATCH sm_61) Use latest if on a lter GPU---
torch==2.7.1
torchvision==0.22.1
torchaudio==2.7.1

# --- VISION & TRANSCRIBE (Manual Install Recommended) ---
# The following package must be installed with: pip install ultralytics --no-deps
# to prevent it from overwriting the custom OpenCV-CUDA build.
# ultralytics

transformers
accelerate
clip-anytorch
#llama-cpp-python <-- should be installed as part of setup.sh to pass custom parameters for CUDA

# YouTube upload
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
httplib2

# Youtube download for sample files
yt-dlp # put urls in the samples.txt and it would automatically download the files in samples folder

# New ones added
#scenedetect[opencv]
ollama 
tqdm
huggingface_hub
matplotlib
scipy
pyyaml
pandas
requests
screeninfo
psutil

openai # to access local Ollama

#Added for Whisper work
#faster-whisper
moviepy
whisperx

